extends layouts/default

//- content of the page
block content
  include ./includes/header

  main
    include ./includes/slider
    include ./includes/banners
    include ./includes/community
    include ./includes/challenges
    include ./includes/news

  include ./includes/footer
