.community-wrapper
  section
    h2.hidden Community

    //- block 1
    .community__prizes
      //i.community__prizes-icon
      span.community__prizes-label.community-label in prizes
      span.community__prizes-money.community-text
        b $4,000,000

    //- block 2
    .community__join
      //- @todo: implement one element with background-image, content = 'text', + after & before
      i.community__join-icon
      span.community__join-label the impact counter
      a.community__join-button(href='#' role='button') Join the community

    //- block 3
    .community__dreamers
      //i.community__dreamers-icon
      span.community__dreamers-label.community-label Crazy Dreamers
      span.community__dreamers-money.community-text
        b +250,000
