.header-wrapper

  .header.container
    .header__logo
      a(href='#home' role='banner')
        img(src='images/logo.png' alt='Logo image' title='Home')

    //- navigation
    nav.header__menu
      h2.hidden Menu
      -var menu = ['Create', 'Explore', 'How it works', 'News', 'About us'];
      for item in menu
        a.header__menu-link(href='#')= item

    .header__actions

      .header__search
        .header__search-trigger

        //- search-wrapper
        .header__search-input-wrapper
          form.header__search-input-box(action='#' method='get')
            button.header__search-submit(type='submit')
            input.header__search-input(type='search' placeholder='')

      //- buttons
      a.header__login-button(href='#' role='button') Sign in
      a.header__register-button(href='#' role='button') Join Us
