.subscription-wrapper

  .subscription
    aside
      h2.subscription__title Become a part of the future!
      form.subscription__form(action='#' method='post')
        input.subscription__email-field(type='email' placeholder='Sign up for the recent news, type in your e-mail')
        button.subscription__submit(type='submit')
